#root,
html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

.navbar__head{
  padding: 10px;
  width: 100%;
  text-align: center;
}

.navbar__error{
  color: red;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.navText{
  font-weight: 800;
  font-size: 38px;
  color: #94b8b8;
}

.fullscreen {
  height: 100vh;
}

.searchBar__wrapper{
  margin-top: 40px;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar{
  width: 350px;
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  background-color: rgba(0,0,0,0.4);
  outline: none;
  color: #fff;
  font-weight: 600;
  margin-right: 25px;
}

.setform {
  position: relative;
  left: 500px;
  top: 20px;
  width: 350px;
}

.container {
  position: relative;
  top: 50px;
  height: 400px;
}

::placeholder {
  font-size: 10px;
}

.stylebtn {
  position: relative;
  left: 340px;
  top: 20px;
}

.next__days{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin: 30px;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
}

.next__days__data{
  margin: 0px 15px;
  padding: 10px 15px 15px 15px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./images/coldweather.jpg");
  background-size: cover;
  background-position: center;
  transition: 0.4 ease-out;
  background-repeat: no-repeat;
  filter: blur(0.2px);
}

.content.warm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./images/warm1.jpg");
}

.content.spring {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./images/spring.jpg");
}

.search-bar:focus {
  background-color: rgba(255, 255, 255, 0.25);
}

.weather-box {
  color: aqua;
  text-align: center;
}

.location-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  color: #fff;
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.date {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.temp {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  margin: 10px 0px;
  padding: 15px 25px;
  color: #fff;
  font-size: 52px;
  font-weight: 900;
  text-align: center;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.nxttemp {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}

.nxtimg {
  width: 100px;
  height: 80px;
  margin-bottom: 8px;
  border-radius: 16px;
}

.nxtdate {
  position: relative;
  top: 3px;
  color: #fff;
  font-weight: 300;
  font-style: italic;
}

.mausam1 {
  background-image: url("./images/sunny.png");
  background-size: cover;
  background-position: center;
  transition: 0.4 ease-out;
  background-repeat: no-repeat;
}

.mausam1.rainy {
  background-image: url("./images/cloudy.jpg");
}

.mausam1.snow {
  background-image: url("./images/snow.jpg");
}

.mausam2 {
  background-image: url("./images/sunny.png");
  background-size: cover;
  background-position: center;
  transition: 0.4 ease-out;
  background-repeat: no-repeat;
}

.mausam2.rainy {
  background-image: url("./images/cloudy.jpg");
}

.mausam2.snow {
  background-image: url("./images/snow.jpg");
}

.mausam3 {
  background-image: url("./images/sunny.png");
  background-size: cover;
  background-position: center;
  transition: 0.4 ease-out;
  background-repeat: no-repeat;
}

.mausam3.rainy {
  background-image: url("./images/cloudy.jpg");
}

.mausam3.snow {
  background-image: url("./images/snow.jpg");
}

.mausam4 {
  background-image: url("./images/sunny.png");
  background-size: cover;
  background-position: center;
  transition: 0.4 ease-out;
  background-repeat: no-repeat;
}

.mausam4.rainy {
  background-image: url("./images/cloudy.jpg");
}

.mausam4.snow {
  background-image: url("./images/snow.jpg");
}

.mausam5 {
  background-image: url("./images/sunny.png");
  background-size: cover;
  background-position: center;
  transition: 0.4 ease-out;
  background-repeat: no-repeat;
}

.mausam5.rainy {
  background-image: url("./images/cloudy.jpg");
}

.mausam5.snow {
  background-image: url("./images/snow.jpg");
}

@media (max-width: 480px){
  .navText{
    font-size: 25px;
  }

  .searchBar__wrapper{
    margin-top: 15px;
    padding: 6px;
  }

  .search-bar{
    width: 220px;
    padding: 10px;
    border-radius: 6px;
    font-size: 13px;
    margin-right: 20px;
  }
  .location, .weather{
    font-size: 20px;
  }
  .date{
    font-size: 16px;
  }
  .temp{
    font-size: 32px;
  }
  .next__days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 18px 8px;
    padding: 8px;
  }
  .next__days__data{
    margin: 13px 8px 0px 8px;
    padding: 6px;
  }
  .nxttemp{
    font-size: 20px;
  }
  .nxtimg {
    width: 70px;
    height: 55px;
    margin-bottom: 5px;
  }
  .nxtdate{
    font-size: 13px;
  }
  

}
